.report-container {
    max-width: 1500px;
    margin-top: 20px;
    margin-left: 260px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.date-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.fetch-button {
    background-color: #424446;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.fetch-button:hover {
    background-color: #212122;
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-table thead {
    background-color: #000000;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.styled-table th {
    font-weight: bold;
}

.styled-table tbody tr {
    transition: background-color 0.2s ease;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table td pre {
    background-color: #f8f8f8;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.9em;
}

.no-data-message {
    color: #888;
    font-style: italic;
    margin-top: 20px;
}
